html,
body {
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
  user-select: none;
  min-width: 375PX;
  min-height: 601PX;
  background-color: #fff;
}

body {
  background: #f2f3f4;
}

.loading-box {
  height: 300px;
}

* {
  box-sizing: border-box;
  font-size: 12px;
}

.page-inner-box {
  min-height: calc(100vh - 48px);
}

.container {
  max-width: 820px;
  margin: 0 auto;
  position: relative;
}

.text {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-ellipsis {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  // Forced text wrapping
  &-wrap {
    word-wrap: break-word;
  }

  // Force no line breaks
  &-nowrap {
    word-wrap: keep-all;
    white-space: nowrap;
  }

  // Financial font
  &-oswald {
    font-family: Oswald;
  }

  // capital
  &-up {
    text-transform: uppercase;
  }
}

.disabled {
  cursor: no-drop;
}

img {

  // Grayscale effect
  &.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
  }
}

*::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.clickActive:hover {
  cursor: pointer;
}

// Click status
.clickActive:active {
  background: rgba($color: #cccccc, $alpha: 0.2);
}

.van-toast__text {
  word-break: break-word;
}

// Mouse over
.hover {
  cursor: pointer;
}

// pc Style beautification
.cancel,
.menu,
.actions-btn,
.account-icon,
.information,
.transfer,
.account-list-component-card,
.use-max,
.nav-header-con,
.listType,
.import-btn,
.account,
.copy-info,
.actions-list-card {
  cursor: pointer;
}

.van-button--plain:hover,
.van-button--default:hover {
  border: 1px solid #037CD6;
  color: #037CD6;
}


.van-dialog {
  overflow: scroll;
  top: 50%;

  .van-dialog__content {
    border-radius: 10px;
    // overflow-x: hidden;
  }

  &.van-popup--center {
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    // padding-bottom: 1PX;
    // left: 50%;

    // top: 50%;
  
    // -webkit-transform: translate3d(-50%, -50%, 0);
  
    // transform: translate3d(-50%, -50%, 0);
    // padding: 5px;
    // transform: none;
    // transform-origin: center;
  }
}

.van-button--primary:hover {
  background: #1198ec;
}

.van-button--plain:hover {
  background: #e9f5fe;
}

.van-button--primary:hover {
  background: #1198ec;
}

.van-button--plain.van-button--primary:hover {
  color: #ffff;
}

.van-button--default {
  border-color: #3d3d3d;
}

.van-icon-cross {
  cursor: pointer;
  transition: ease 0.3s;

  &:hover {
    color: #333 !important;
  }
}

// .van-button--primary.van-button--disabled {
//   background: #B3B3B3;
//   border-color: #B3B3B3;
// }

// Agreement, terms Popup
.dialog-box-service {
  border-radius: 0;
  padding-bottom: 10px;

  .dialog-box {
    border-radius: 0 !important;
  }

  .icon-box {
    margin-top: 0 !important;
  }
}

// Guidance prompt box
.van-popover__content {
  overflow: hidden;
  border-radius: 4px;
  .dialog-box {
    padding-top: 13px;
  }
}




.van-cell .van-field__body {
  height: 44px;
  border: 1px solid #B3B3B3;
  border-radius: 5px;
  padding: 0 10px;
  transition: ease 0.3s;
  font-size: 12px;

  &:hover {
    border-color: #037CD6;
  }
}

.van-field__error-message {
  line-height: 14px;
}
// .van-popover {
//   background-color: rgba($color: #fff, $alpha: 0.7);
// }
.appendto1,
.appendto2 {
  &.van-popover {
    max-width: 343px;
  }

  border-radius: 4px;

  .van-popover__arrow {
    color: #037CD6;
  }

  .van-popover__content {
    background: #037CD6;
    color: #fff;
    padding: 10px;
    line-height: 16px;
  }

  z-index: 1 !important;
}
.popover-btn-tip-disabled {
  .van-popover__content {
    background: #9A9A9A;
  }
  .van-popover__arrow {
    color: #9A9A9A;
  }
}
.van-popover__wrapper {
  .van-icon-question {
    margin-left: 0 !important;
  }
}
.van-icon-question {
  cursor: pointer;
  margin-left: 5px !important;
  color: #848484;
  font-size: 12px;
}


.van-field.error {
  .van-field__body {
    border: 1px solid #D73A49;
    background: #FBF2F3;
  }
}




// Interrupt boot Popup
.closeGuideModal {
  background: rgba($color: #000, $alpha: 0.8);
  color: #fff;

  .van-dialog__content {}

  .van-dialog__footer {
    &::after {
      display: none;
    }
  }

  .van-dialog__cancel {
    margin: 25px;
  }

  .van-dialog__confirm {
    background: #037cd6;
    color: #fff;
    margin: 25px;

    &::after {
      display: none;
    }
  }
}

// Toast component override
.van-toast {
  min-width: 150px;

  &__text {
    font-size: 15px;
    line-height: 21px;
  }

  i {
    font-size: 40px;
  }
}

.van-hairline--surround:after {
  border-width: 1PX;
}

.btn-groups {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 25px;
}


.exchange-popover {
  max-width: 267px;

  .van-popover__content {
    background: #037cd6;
  }

  .van-popover__arrow {
    color: #037cd6;
  }

}

  // Fixed popover blur
  .server-modal {
    height: 610PX;
  }
  .add-pledge-modal {
    height: 768PX;
  }
  .account-list-modal1 {
    max-height: 508PX;
  }
  .account-list-modal2 {
    max-height: 662PX;
  }
  .switch-network-modal {
    min-height: 250px;
  }
  .send-confirm-modal {
    height: 360px;
  }
  .transaction-modal {
    height: 436PX;
  }
  .cancel-modal {
    max-height: 256PX;
  }
  .minus-pledge-dialog {
    max-height: 450PX;
  }
  .transfer-NFT-modal {
    height: 502PX;
    &.type3 {
      height: 566PX;
    }
  }
  .minerAdditionalModal {
    height: 758PX;
  }

  
// When the width is less than 750, control the pop-up window width to guide the user to operate
@media screen and (max-width: 750px) {
  .popover-btn-tip,.el-popper {
    max-width: 160px;
  }
  .popover-dialog {
    // max-width: 340px;
    left: 18px !important;
    right: 18px !important;

    &.step1 {
      .van-popover__arrow {
        left: 90px;
      }
    }

    &.step2 {
      top: 130px !important;

      .van-popover__arrow {
        left: 164px;
      }
    }

    &.step3 {
      top: 130px !important;

      .van-popover__arrow {
        left: 198px;
      }
    }

    &.step4 {
      top: 174px !important;
      right: 14px !important;
      left: 14px !important;

      .van-popover__arrow {
        right: 140px;
      }
    }

    &.step5 {
      .van-popover__arrow {
        right: 50% !important;
        margin-right: -10px;
      }
    }

    &.step6 {
      top: 366px !important;

      .van-popover__arrow {
        left: 40px;
      }
    }

    &.step7 {
      top: 316px !important;

      .van-popover__arrow {
        left: 50%;
      }
    }

    &.step8 {
      top: 366px !important;

      .van-popover__arrow {
        right: 30px;
        margin-left: -3px;
      }
    }

    &.step9 {
      bottom: 95px !important;
      right: 14px !important;
      left: 14px !important;
      position: fixed;
      top: inherit !important;

      .van-popover__arrow {
        right: 25px;
      }
    }

    &.step11 {
      top: 48px !important;

      .van-popover__arrow {
        left: 13px;
      }
    }

    &.step12 {
      top: 48px !important;
    }

    &.step13 {
      top: 48px !important;

      .van-popover__arrow {
        right: 0px;
      }
    }

    &.step13 {
      bottom: 150px !important;
      right: 14px !important;
      left: 14px !important;
      position: fixed;
      top: inherit !important;
      .van-popover__arrow {
        right: 25px;
      }
    }
  }
.add-pledge-modal,.transfer-NFT-modal,.minerAdditionalModal {
  height: auto;
}
}

@media screen and (min-width: 750px) {                                                                                                                                 
  html {
    font-size: 45PX !important; // ignored
  }
  .popover-btn-tip,.el-popper {
    max-width: 220px;
  }

  .popover-dialog {
    width: 250px;

    &.step1 {
      .van-popover__arrow {
        left: 45px;
      }
    }

    &.step2 {
      top: 130px !important;
      left: 18px !important;

      .van-popover__arrow {
        left: 164px;
      }
    }

    &.step3 {
      top: 130px !important;
      left: 18px !important;

      .van-popover__arrow {
        left: 197px;
      }
    }

    &.step4 {
      top: 180px !important;
      right: 20px !important;
      left: inherit !important;

      .van-popover__arrow {
        right: 133px;
      }
    }

    &.step5 {
      // left: 50% !important;
      // margin-left: -200px !important;
      width: calc(100% - 40px) !important;
      left: 20px !important;
      right: 20px !important;

      .van-popover__arrow {
        right: 355px !important;
        // margin-right: -20px !important;
      }
    }

    &.step6 {
      top: 366px !important;
      width: calc(100% - 40px) !important;
      left: 20px !important;
      right: 20px !important;
      .van-popover__arrow {
        left: 105px;
      }

    }

    &.step7 {
      top: 316px !important;
      right: 200px !important;
      left: inherit !important;

      .van-popover__arrow {
        left: inherit;
        right: 163px !important;
      }
    }

    &.step8 {
      top: 366px !important;

      // left: 400px !important;
      .van-popover__arrow {
        left: 145px;
      }
    }

    &.step9 {
      top: inherit !important;
      right: 20px !important;
      left: inherit !important;
      bottom: 94px;
      position: fixed !important;

      .van-popover__arrow {
        //left: 321px;
      }
    }

    &.step10 {
      left: 400px !important;
    }

    &.step11 {
      top: 48px !important;

      .van-popover__arrow {
        left: 13px;
      }
    }

    &.step12 {
      left: 50% !important;
      margin-left: -175px !important;

      .van-popover__arrow {
        left: 60% !important;
      }
    }

    //&.step13 {
    //  top: 48px !important;
    //  left: 400px !important;
    //  .van-popover__arrow {
    //    right: 0px;
    //  }
    //}
    &.step13 {
      top: inherit !important;
      right: 20px !important;
      left: inherit !important;
      bottom: 150px;
      position: fixed !important;
      .van-popover__arrow {
        //left: 321px;
      }
    }
  }
  .van-dialog {
    &.van-popup--center {
      // padding-bottom: 1px;
    }
  }
}