html,
body {
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
  user-select: none;
  min-width: 375PX;
  min-height: 601PX;
  background-color: #fff;
  // font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  // font-variant: tabular-nums;
  // font-feature-settings: "tnum","tnum";
  font-family: Roboto,Arial,sans-serif;
}

body {
  background: #f2f3f4;
}

.loading-box {
  height: 300px;
}

* {
  box-sizing: border-box;
  font-size: 12px;
}

.page-inner-box {
  min-height: calc(100vh - 48px);
}

.container {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}

.text {
  &-center {
    text-align: center;
  }

  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-ellipsis {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  // Forced text wrapping
  &-wrap {
    word-wrap: break-word;
  }

  // Force no line breaks
  &-nowrap {
    word-wrap: keep-all;
    white-space: nowrap;
  }

  // Financial font
  &-oswald {
    font-family: Oswald;
  }

  // capital
  &-up {
    text-transform: uppercase;
  }
}

.disabled {
  cursor: no-drop;
}

img {

  // Grayscale effect
  &.gray {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
  }
}

*::-webkit-scrollbar {
  width: 0;
  display: none;
}
.scrollBar {
  overflow-y: scroll;
  &:hover {
    &::-webkit-scrollbar-track{
      background: #f1f1f1;
    }
  }
  &::-webkit-scrollbar {
    display: inherit;
  }
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  &::-webkit-scrollbar-track {
    width: 6px;
    background: transparent;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    opacity: .6;
    transition: ease .3s;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: rgb(202, 201, 201);
    background-clip: padding-box;
    min-height: 20px;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    transition: background-color .3s;
    cursor: pointer;
    opacity: .6;
  }
  
  &::-webkit-scrollbar-thumb:hover {
    background-color:  #a7a7a7;
    opacity: 1;
  }
}

.clickActive:hover {
  cursor: pointer;
}

// Click status
.clickActive:active {
  background: #F8F3F9;
}

.van-toast__text {
  word-break: break-word;
}

// Mouse over
.hover {
  cursor: pointer;
}

// pc Style beautification
.cancel,
.menu,
.actions-btn,
.account-icon,
.information,
.transfer,
.account-list-component-card,
.use-max,
.nav-header-con,
.listType,
.import-btn,
.account,
.copy-info,
.actions-list-card {
  cursor: pointer;
}

.van-button--plain:hover,
.van-button--default:hover {
  border: 1px solid #9F54BA;
  color: #9F54BA;
  background: #F8F3F9;
}


.van-dialog {
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
width: 420px;
  .van-dialog__content {
    border-radius: 10px;
  }

  &.van-popup--center {
    left: 50%;
    transform: none;
    top: 80px;
    margin-left: -210px;

  }
}

.van-button--primary:hover {
  background: #9643b4;
}



.van-button--plain.van-button--primary:hover {
  color: #ffff;
}

.van-button--default {
  border-color: #3d3d3d;
}

.van-icon-cross {
  cursor: pointer;
  transition: ease 0.3s;

  &:hover {
    color: #333 !important;
  }
}

// .van-button--primary.van-button--disabled {
//   background: #B3B3B3;
//   border-color: #B3B3B3;
// }

// Agreement, terms Popup
.dialog-box-service {
  border-radius: 0;
  padding-bottom: 10px;

  .dialog-box {
    border-radius: 0 !important;
  }

  .icon-box {
    margin-top: 0 !important;
  }
}

// Guidance prompt box
.van-popover__content {
  overflow: hidden;
  border-radius: 4px;

  .dialog-box {
    padding-top: 13px;
  }
}

.creatorSnftPopover {
  max-width: 250px;
}



.van-cell .van-field__body {
  height: 44px;
  border: 1px solid #B3B3B3;
  border-radius: 5px;
  padding: 0 10px;
  transition: ease 0.3s;
  font-size: 12px;

  &:hover {
    border-color: #9F54BA;
  }
}

.van-field__error-message {
  line-height: 14px;
}


.appendto1,
.appendto2 {
  &.van-popover {
    max-width: 343px;
  }

  border-radius: 4px;

  .van-popover__arrow {
    color: #9F54BA;
  }

  .van-popover__content {
    background: #9F54BA;
    color: #fff;
    padding: 10px;
    line-height: 16px;
  }

  z-index: 1 !important;
}

.popover-btn-tip-disabled {
  .van-popover__content {
    background: #9A9A9A;
  }

  .van-popover__arrow {
    color: #9A9A9A;
  }
}

.van-popover__wrapper {
  .van-icon-question {
    margin-left: 0 !important;
  }
}

.van-icon-question {
  cursor: pointer;
  margin-left: 5px !important;
  color: #848484;
  font-size: 14px;
}


.van-field.error {
  .van-field__body {
    border: 1px solid #D73A49;
    background: #FBF2F3;
  }
}


.error {
  :deep(.van-field__body) {
    border: 1px solid #d73a49 !important;
    background: #fbf2f3;
  }
}

// Interrupt boot Popup
.closeGuideModal {
  background: rgba($color: #000, $alpha: 0.8);
  color: #fff;

  .van-dialog__content {}

  .van-dialog__footer {
    &::after {
      display: none;
    }
  }

  .van-dialog__cancel {
    margin: 25px;
  }

  .van-dialog__confirm {
    background: #9F54BA;
    color: #fff;
    margin: 25px;

    &::after {
      display: none;
    }
  }
}

// Toast component override
.van-toast {
  min-width: 150px;

  &__text {
    font-size: 15px;
    line-height: 21px;
  }

  i {
    font-size: 40px;
  }
}

.van-hairline--surround:after {
  border-width: 1PX;
}

.btn-groups {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 25px;
}


.exchange-popover {
  max-width: 267px;

  .van-popover__content {
    background: #9F54BA;
  }

  .van-popover__arrow {
    color: #9F54BA;
  }

}



.account-list-modal1 {
  max-height: 508PX;
}

.account-list-modal2 {
  max-height: 662PX;
}

.switch-network-modal {

  z-index: 999;
}



.minus-pledge-dialog {
  overflow: initial;

  .van-dialog__content {
    overflow: inherit;
  }

  .sheet-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}





.van-popover.account-pop {
  z-index: 1001 !important;
}


.tag-list {
  &.slider {
    .tag-user {
      min-width: 30px;
      width: auto;

      .user {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        position: absolute;
        overflow: hidden;
        left: -1px;
        top: 0px;

        i {
          font-size: 12px;
        }

        .icon-Add {
          font-size: 14px;
        }
      }

      .tag-label {
        line-height: 18px;
        border-radius: 9px;
        padding-left: 18px;

        span {
          font-size: 12PX;
        }
      }

    }


  }

  .tag-user {
    width: 20px;
    height: 20px;

    .user {
      width: 20px;
      height: 20px;
      border-radius: 50%;

      i {
        font-size: 12px;
      }

      .icon-Add {
        font-size: 13px;
      }
    }

    .tag-label {
      line-height: 16px;
      border-radius: 8px;
      padding-left: 17px;
      padding-right: 5px;

      span {
        font-size: 12px;
        transform-origin: center center;
        display: inline-block;
        line-height: 18px;
        height: 18px;
      }
    }

    &.type1 {

      // green
      .user,
      .tag-label {
        background: linear-gradient(270deg, #93EBAD 0%, #52E374 100%);
      }
    }

    &.type2 {
      color: #fff;
      // orange
      .user,
      .tag-label {
        background: linear-gradient(90deg, #D9B560 0%, #D3E492 100%);
      }
    }

    &.type3 {

      // exchange
      .user,
      .tag-label {
        background: linear-gradient(270deg, #BB68D9 0%, #b139dd 100%);
      }
    }

  }

}

.el-popper {
  z-index: 9999 !important;
}
// When the width is less than 750, control the pop-up window width to guide the user to operate
@media screen and (max-width: 750px) {
  .minus-miner-stack-dialog {
    top: 0 !important;
  }
  .van-dialog {
    width: 90vw;
    overflow: hidden;
    &.van-popup--center{
      margin-left: -45vw;
      top: 40px;
    }
    & .van-dialog__content {
      // max-width: 90%;
    }
  }

  .popover-btn-tip,
  .el-popper {
    max-width: 200px;
  }

  .popover-dialog {
    // max-width: 340px;
    left: 18px !important;
    right: 18px !important;

    &.step1 {
      top: 110px !important;
      .van-popover__arrow {
        left: 90px;
      }
    }

    &.step2 {
      top: 130px !important;

      .van-popover__arrow {
        left: 164px;
      }
    }

    &.step3 {
      top: 130px !important;

      .van-popover__arrow {
        left: 194px;
      }
    }

    &.step4 {
      top: 180px !important;
      right: 14px !important;
      left: 14px !important;

      .van-popover__arrow {
        right: 130px;
      }
    }

    &.step5 {
      .van-popover__arrow {
        right: 50% !important;
        margin-right: -10px;
      }
    }

    &.step6 {
      top: 315px !important;

      .van-popover__arrow {
        left: 40px;
      }
    }

    &.step7 {
      top: 316px !important;

      .van-popover__arrow {
        left: 50%;
      }
    }

    &.step8 {
      top: 315px !important;

      .van-popover__arrow {
        right: 30px;
      }
    }

    &.step9 {
      bottom: 95px !important;
      right: 14px !important;
      left: 14px !important;
      position: fixed;
      top: inherit !important;

      .van-popover__arrow {
        right: 25px;
      }
    }

    &.step11 {
      top: 48px !important;

      .van-popover__arrow {
        left: 13px;
      }
    }

    &.step12 {
      top: 48px !important;
    }

    &.step13 {
      top: 48px !important;

      .van-popover__arrow {
        right: 0px;
      }
    }

    &.step13 {
      bottom: 150px !important;
      right: 14px !important;
      left: 14px !important;
      position: fixed;
      top: inherit !important;

      .van-popover__arrow {
        right: 25px;
      }
    }
  }

}
.serial-number {
  font-size: 14px;
}


@media  screen and (min-width: 750px) and (max-width: 1281px){
  html {
    font-size: 48PX !important; // ignored
  }
  .container {
    max-width: 700px;
  }

  .van-dialog {
    overflow-y: scroll;
    overflow-x: hidden;
    width:370px;
    &.van-popup--center{
      margin-left: -180px;
      top: 60px;
    }
    & .van-dialog__content {
      // max-width: 90%;
    }
  }
  .popover-btn-tip,
  .el-popper,
  .van-popover {
    max-width: 200px;
    z-index: 9999;
  }
}

@media screen and (min-width: 1281px) {
  html {
    font-size: 52PX !important; // ignored
  }
  .container {
    max-width: 750px;
  }
  .van-popover {
    max-width: 250px;
  }
  .popover-btn-tip,
  .el-popper {
    max-width: 220px;
  }

  .popover-dialog {
    width: 250px;

    &.step1 {
      top: 130px !important;
      left: 18px !important;
      .van-popover__arrow {
        left: 110px;
      }
    }

    &.step2 {
      top: 130px !important;
      left: 18px !important;

      .van-popover__arrow {
        left: 190px;
      }
    }

    &.step3 {
      top: 130px !important;
      left: 18px !important;

      .van-popover__arrow {
        left:225px;
      }
    }

    &.step4 {
      top: 180px !important;
      right: 20px !important;
      left: inherit !important;

      .van-popover__arrow {
        right: 123px;
      }
    }

    &.step5 {
      // left: 50% !important;
      // margin-left: -200px !important;
      top: 270px !important;
      width: calc(100% - 40px) !important;
      left: 20px !important;
      right: 20px !important;

      .van-popover__arrow {
        left: 51%;
        // margin-right: -20px !important;
      }
    }

    &.step6 {
      top: 320px !important;
      left: 20px !important;
      .van-popover__arrow {
        left: 183px;
      }

    }

    &.step7 {
      top: 316px !important;
      right: 200px !important;
      left: inherit !important;

      .van-popover__arrow {
        left: inherit;
        right: 163px !important;
      }
    }

    &.step8 {
      top: 320px !important;

      // left: 400px !important;
      .van-popover__arrow {
        left:65px;
      }
    }

    &.step9 {
      top: inherit !important;
      right: 20px !important;
      left: inherit !important;
      bottom: 94px;
      position: fixed !important;

      .van-popover__arrow {
        //left: 321px;
      }
    }

    &.step10 {
      left: inherit !important;
      right: 20px !important;
      left: inherit;
    }

    &.step11 {
      top: 48px !important;

      .van-popover__arrow {
        left: 13px;
      }
    }

    &.step12 {
      left: 50% !important;
      margin-left: -125px !important;
      top: 50px !important;
      .van-popover__arrow {
        left: 51% !important;
      }
    }

    //&.step13 {
    //  top: 48px !important;
    //  left: 400px !important;
    //  .van-popover__arrow {
    //    right: 0px;
    //  }
    //}
    &.step13 {
      top: inherit !important;
      right: 20px !important;
      left: inherit !important;
      bottom: 150px;
      position: fixed !important;

      .van-popover__arrow {
        //left: 321px;
      }
    }
  }

  .van-dialog {
    width:390px;
    &.van-popup--center{
      margin-left: -160px;
      top: 40px;
    }
  }
  .minerAdditionalModal,.minus-miner-stack-dialog {
    top: 20px !important;
  }
}


